@{
    ViewData["Title"] = "Objetivos";
}
<div class="tudoO">
   <h1>Objetivos</h1>
   <h2>Música</h2>
   <p>Em um futuro próximo, quero entrar no curso de música da UFPR. Em um futuro mais distante, pretendo tocar em orquestras profissionais e 
    fazer disso meu ganha-pão, e então ensinar em projetos sociais. Além disso, quero aprender a tocar pelo menos 5 instrumentos em minha vida.
   </p>
   <h2>Artesanatos</h2>
   <p>
    Gostaria de abrir uma lojinha de artesanato com outras pessoas que também gostam do ofício, e ser capaz de participar esporadicamente de feiras
    de artesanato. Também gostaria de ajudar pessoas necessitadas com doação de itens como roupas e mantas confeccionadas por mim. Por fim, gostaria de
    aprender outras formas de artesanato, como tricô, costura, escultura e cerâmica.
   </p>
   <h2>Educação</h2>
   <p>Tenho interesse em várias áreas diferentes, então gostaria de cursar mais de uma faculdade. Dentre minhas áreas de interesse estão engenharia
    elétrica, letras, matemática e antropologia. Além disso, gostaria de aprender mais idiomas no futuro, como francês, alemão, coreano, russo, 
    iorubá, toki pona e tupi.
   </p>
</div>