@{
    ViewData["Title"] = "Portfólio";
}

<div class="tudoPort">
    <h1 class="display-4">Portfólio</h1>
    <h2>Github</h2>
    <p><a class="linkGit" target="_blank" href="https://github.com/JuliaPaulaMenegazzoSesi">Acesse por aqui</a></p>
    <h2>Crochê</h2>
    <figure>
        <img src="https://images.tcdn.com.br/img/img_prod/1024599/lugar_americano_natal_redondo_croche_1559_1_499a44ee27602787051601eb5447eca9.jpg" style="height: 500px; border-radius:10px;">
        <figcaption>Imagem ilustrativa</figcaption>
    </figure>
    <h2>Bordado</h2>
    <figure>
        <img src="https://i.ytimg.com/vi/GhryfIDWZ2M/maxresdefault.jpg" style="height: 500px; border-radius:10px;">
        <figcaption>Imagem ilustrativa</figcaption>
    </figure>
</div>