@{
    ViewData["Title"] = "Home Page";
}


<div class="tudoH">
    <div class="infoH">
        <h1 class="display-4">Olá</h1>
        <h2>Julia Paula Menegazzo</h2>
        <p>
            <ul>
                <li>Ensino Médio Técnico em Desenvolvimento de Sistemas</li>
                <li>Música</li>
                <li>Linguística</li>
            </ul>
        </p>
    </div>
    <div class="imagemH">
        <img class="pfp" src="https://static-cdn.jtvnw.net/jtv_user_pictures/42ae70cc-7283-4234-a94b-333351ece3a5-profile_image-300x300.png" alt="literalmente eu">
    </div>
</div>
