@{
    ViewData["Title"] = "Sobre Mim";
}
<div class="tudoSM">
    <h1>@ViewData["Title"]</h1>
    <p>Sou uma estudante do terceiro ano do ensino médio, curso técnico em desenvolvimento de sistemas. Gosto de estudar música, matemática e aprender
        idiomas. Atualmente estudo violino, falo português brasileiro e inglês, e estou aprendendo japonês e mandarim. Além disso, gosto de ler, fazer
        crochê e bordar.
    </p>
    <div class="imagensSM">
        <div class="imgMusica" style="margin: 10px;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRY5MOwMxuu-7YUCDTTsULmVbzUipMUEa7yOQ&s" alt="" style="height: 200px;">
        </div>
        <div class="imgIdiomas" style="margin: 10px;">
            <img src="https://segredosdomundo.r7.com/wp-content/uploads/2021/09/quantos-idiomas-existem-no-mundo-e-as-linguas-mais-faladas.jpg" style="height: 200px;" alt="">
        </div>
        <div class="imgArte" style="margin: 10px;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpsGK_cTtgZhKducs9-Ixcrzf2OWe43xqDlQ&s" alt="" style="height: 200px;">
        </div>
    </div>
</div>
